main .Home{
    display: flex;
    align-items: center;
}

main .Home h1{
    font-family: anybodyEB;
    padding: 5rem 0 0 15rem;
    font-size: 6rem;
    text-transform: uppercase;
}

main .Home p{
    padding: 5rem 15rem 0 10rem;
}

.Home .image-container{
    position: absolute;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    bottom: 0;
}

.Home .image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 60%;
}