.Movies{
    margin: 0 auto;
    padding: 2rem;
}

.Movies .image-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 2rem 0;
}

.Movies .item-container{
    width: 30%;
    height: 30%;
}

.Movies .item-container img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.Movies .item-container img:hover{
    scale: 105%;
    cursor: pointer;
}


.Movies h1{
    font-family: anybodyM;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 0 0 1rem 1rem;
}

.Movies .item-info{
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
}