@font-face {
    font-family: baiJamjuree;
    src: url(fonts/BaiJamjuree-Regular.ttf);
}

@font-face {
    font-family: anybodyEB;
    src: url(fonts/Anybody-ExtraBold.ttf);
}

@font-face {
    font-family: anybodyM;
    src: url(fonts/Anybody-Medium.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all 0.4s;
    color: #F8DFBF;
    text-decoration: none;
    font-family: baiJamjuree;
    transition: 0.5s ease-in-out;
    color: black;
}

.login{
    position: fixed;
    display: flex;
    justify-content: end;
    width: 100%;
    height: 5rem;
    padding: 2rem;
    z-index: 2;
    background-color: whitesmoke;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    align-items: center;
    text-align: center;
    top: 0;
}

.login a{
    width: 3rem;
    height: 3rem;
    border-radius: 50rem;
    border: 0.1rem solid black;
    overflow: hidden;
}

.login a:hover{
    background-color: rgb(195, 195, 195);
}

.login a img{
    width: 2.5rem;
    margin-top: 5px;
}

nav{
    top: 0;
    width: 15rem;
    height: 100%;
    background-color: whitesmoke;
    position: fixed;
    text-transform: uppercase;
    justify-content: space-around;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    z-index: 3;
}

nav h1{
    font-family: anybodyEB;
    padding: 2rem;
    font-size: 2.2rem;
    text-align: center;
}

nav ul{
    display: block;
}

nav ul li{
    display: flex;
    list-style-type: none;
}

button{
    display: flex;
    align-items: center;
    border: none;
    width: 100%;
    padding: 1rem 2rem 1rem 3rem;
    background-color: whitesmoke;
}

button:hover{
    background-color: rgb(195, 195, 195);
    cursor: pointer;
}

nav ul li button img{
    width: 2rem;
}

nav ul li button p{
    font-family: anybodyM;
    padding: 0 0 0 1rem;
    font-size: 1.2rem;
}

main {
    padding: 5rem 0 0 15rem;
}